@inherits LayoutComponentBase

<MudThemeProvider />

<MudLayout>
    <LayoutHolder @rendermode="InteractiveServer" />
    <MudMainContent Style="height: calc(100vh - 4rem);">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool _navMenuOpen = true;
    bool _secondListOpen = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
